/* Site-wide, all media sizes */
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 0;
}

body,
a,
footer {
  color: #919599;
  text-decoration: none;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  color: #021526;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem;
}

button.action {
  color: white;
  font-size: large;
  background-color: #dd700b;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  border: none;
}

/* button:hover {
  box-shadow: 0 0 30px 0 black;
} */

/* Navigation */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 3rem;
  background-color: #03346e;
}

button.menu {
  background-color: #03346e;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.nav-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #dcecfe;
  padding: 1rem 0;
  margin: 0;
  box-shadow:
    inset 0 10px 10px -10px rgba(0, 0, 0, 0.2),
    0 10px 10px -10px rgba(0, 0, 0, 0.2);
}

.nav-item {
  text-align: center;
  padding: 0.75rem 0;
}

.nav-menu.active {
  display: flex;
}

/* Nav menu button */
.menu-btn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  width: 25px;
  height: 21px;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0.5rem;
}

.menu-btn .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.menu-btn .bar:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.menu-btn .bar:nth-child(2),
.menu-btn .bar:nth-child(3) {
  grid-row: 2;
  grid-column: 1;
}

.menu-btn .bar:nth-child(4) {
  grid-row: 3;
  grid-column: 1;
}

/* Turns Hamburger into an 'X' when active */
.menu-btn.active .bar:nth-child(1),
.menu-btn.active .bar:nth-child(4) {
  width: 0;
  opacity: 0.5;
}

.menu-btn.active .bar:nth-child(2) {
  transform: rotate(45deg);
}

.menu-btn.active .bar:nth-child(3) {
  transform: rotate(-45deg);
}

/* Index page main content */
.container > * {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.2);
}

.container > :nth-child(2n) {
  background-color: rgb(252, 252, 252);
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  scroll-margin-top: 3rem;
}

.intro {
  padding: 10vh 30vw;
  text-align: center;
  min-height: 40vh;
}

.displayboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.displayboard-item {
  margin: 30px;
}

.displayboard-item > * {
  width: 300px;
  text-align: center;
}

/* Intro */
.sidebar {
  display: none;
}

#profile-image {
  width: 200px;
  border-radius: 50%;
  margin: 0;
}

/* Footer */
footer {
  width: 100%;
  padding: 1rem;
  background-color: #03346e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 98;
}

/* Extra small devices only (phones, 600px and down) */
/* Redundant as all styling outside this media query applies anyway?? */
/* @media only screen and (max-width: 600px) {
  .navbar-intro {
    display: none;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Navigation */
  .topbar,
  .main-intro {
    display: none;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  nav {
    width: 20vw;
    height: 100vh;
    background-color: #03346e;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .material-symbols-rounded {
    display: none;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav a:hover {
    color: #dd700b;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
